html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  text-align: left;
}
body {
  font-family: "Segoe UI";
  color: #333;
}
.wrapper {
  width: 700px;
  margin: 0 auto;
  position: relative;
}
a {
  color: #666;
  font-weight: bold;
}
.content-wrapper {
  padding-left: 200px;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}
.content-wrapper .navigation {
  width: 200px;
  margin-left: -200px;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
.content-wrapper .navigation ul,
.content-wrapper .navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-wrapper .navigation ul a,
.content-wrapper .navigation li a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 5px;
}
.content-wrapper .navigation ul a:hover,
.content-wrapper .navigation li a:hover,
.content-wrapper .navigation ul a .active,
.content-wrapper .navigation li a .active {
  background-color: #ccc;
}
.content-wrapper .content {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.welcome {
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-list table {
  border-spacing: 0;
  border-collapse: collapse;
}
.user-list td,
.user-list th {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
}
.user-list th {
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
}
