html, body {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

body {
  font-family: "Segoe UI";
  color:#333;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}


a {
  color:#666;
  font-weight: bold;
}


.content-wrapper {
  padding-left: 200px;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;

  .navigation {
    width:200px;
    margin-left: -200px;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;
    ul,li{
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        padding: 5px;

        &:hover, .active {
          background-color: #ccc;
        }
      }
    }
  }

  .content {
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
  }
}

.welcome {
  position: absolute;
  right:10px;
  top:10px;
}

.user-list {
  table {
    border-spacing:0;
    border-collapse:collapse;
  }
  td, th {
    padding:5px;
    border:1px solid #ccc;
    text-align: left;
  }

  th {
    text-transform: uppercase;
    background-color: #333;
    color:#fff;
  }
}